@import './var.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
}

ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
}

.header {
    width: 100wh;
    min-height: 700px;
    background: url('../images/bgi.jpg');
    position: relative;
    z-index: 10;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -10;
    }

    &-wrap {
        max-width: 940px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

.navbar {
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__logo {
        flex: 1 1 50%;
    }

    &__logo-link {
        font-size: 40px;
        font-weight: 700;
        line-height: 0.8;
        letter-spacing: 2px;
        color: $logo-color;
        font-family: $logo-font;
        vertical-align: bottom;
    }

    &__nav {
        flex: 1 1 50%;
    }
}

.nav {
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 14px;
        font-style: normal;
    }
}