* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__content {
    width: 600px;
    height: 500px;
    position: relative;
}

.slider__image {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 2s ease;
}

.slider__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider__image:nth-child(1) {
    opacity: 1;
}